html, body {
    margin: 0;
}
#html_banner {
    width: 240px;
    height: 400px;
    overflow:hidden;
    position:relative;
}
#html_banner * {
    border:0;
    margin:0;
    padding:0;
}
#html_banner a {
    text-decoration: none;
}
#html_banner .logo_legal {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 222px;
}
#html_banner .logo {
    margin-bottom: -5px;
}
#html_banner .mim1 {
    position: absolute;
}
#html_banner .leaf_red {
    position: absolute;
    top: 130px;
    left: 16px;
    opacity: 0;

    -moz-animation: leaf-red 15s linear forwards 2;
    -o-animation: leaf-red 15s linear forwards 2;
    -webkit-animation: leaf-red 15s linear forwards 2;
    animation: leaf-red 15s linear forwards 2;
}
@-moz-keyframes leaf-red {
    from {opacity: 0}
    4.722222222222223% {transform: scaleY(0.03); opacity: 0}
    6.666666666666667% {transform: scaleY(1); opacity: 1}
    24.444444444444443% {transform: scaleY(1); opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-o-keyframes leaf-red {
    from {opacity: 0}
    4.722222222222223% {transform: scaleY(0.03); opacity: 0}
    6.666666666666667% {transform: scaleY(1); opacity: 1}
    24.444444444444443% {transform: scaleY(1); opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-webkit-keyframes leaf-red {
    from {opacity: 0}
    4.722222222222223% {transform: scaleY(0.03); opacity: 0}
    6.666666666666667% {transform: scaleY(1); opacity: 1}
    24.444444444444443% {transform: scaleY(1); opacity: 1}
    26.111111111111107% {opacity: 0}
}
@keyframes leaf-red {
    from {opacity: 0}
    4.722222222222223% {transform: scaleY(0.03); opacity: 0}
    6.666666666666667% {transform: scaleY(1); opacity: 1}
    24.444444444444443% {transform: scaleY(1); opacity: 1}
    26.111111111111107% {opacity: 0}
}
#html_banner .text1_1 {
    position: absolute;
    top: 148px;
    left: 44px;
    width: 1px;
    overflow: hidden;
    opacity: 0;

    -moz-animation: text1_1 15s linear forwards 2;
    -o-animation: text1_1 15s linear forwards 2;
    -webkit-animation: text1_1 15s linear forwards 2;
    animation: text1_1 15s linear forwards 2;
}
@-moz-keyframes text1_1 {
    from {width: 1px; opacity: 0}
    7.777777777777778% {width: 1px; opacity: 1}
    11.944444444444446% {width: 140px;}
    24.444444444444443% {width: 140px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-o-keyframes text1_1 {
    from {width: 1px; opacity: 0}
    7.777777777777778% {width: 1px; opacity: 1}
    11.944444444444446% {width: 140px;}
    24.444444444444443% {width: 140px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-webkit-keyframes text1_1 {
    from {width: 1px; opacity: 0}
    7.777777777777778% {width: 1px; opacity: 1}
    11.944444444444446% {width: 140px;}
    24.444444444444443% {width: 140px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@keyframes text1_1 {
    from {width: 1px; opacity: 0}
    7.777777777777778% {width: 1px; opacity: 1}
    11.944444444444446% {width: 140px;}
    24.444444444444443% {width: 140px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
#html_banner .text1_2 {
    position: absolute;
    top: 199px;
    left: 43px;
    overflow: hidden;
    opacity: 0;
    width: 1px;

    -moz-animation: text1_1 15s linear forwards 2;
    -o-animation: text1_1 15s linear forwards 2;
    -webkit-animation: text1_1 15s linear forwards 2;
    animation: text1_2 15s linear forwards 2;
}
@-moz-keyframes text1_2 {
    from {width: 1px; opacity: 0}
    14.166666666666666% {width: 1px; opacity: 1}
    20% {width: 145px;}
    24.444444444444443% {width: 145px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-o-keyframes text1_2 {
    from {width: 1px; opacity: 0}
    14.166666666666666% {width: 1px; opacity: 1}
    20% {width: 145px;}
    24.444444444444443% {width: 145px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@-webkit-keyframes text1_2 {
    from {width: 1px; opacity: 0}
    14.166666666666666% {width: 1px; opacity: 1}
    20% {width: 145px;}
    24.444444444444443% {width: 145px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
@keyframes text1_2 {
    from {width: 1px; opacity: 0}
    14.166666666666666% {width: 1px; opacity: 1}
    20% {width: 145px;}
    24.444444444444443% {width: 145px; opacity: 1}
    26.111111111111107% {opacity: 0}
}
#html_banner .mim2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -moz-animation: mim2 15s linear forwards 2;
    -o-animation: mim2 15s linear forwards 2;
    -webkit-animation: mim2 15s linear forwards 2;
    animation: mim2 15s linear forwards 2;
}
@-moz-keyframes mim2 {
    26.388888888888893% {opacity: 0}
    28.61111111111111% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@-o-keyframes mim2 {
    26.388888888888893% {opacity: 0}
    28.61111111111111% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@-webkit-keyframes mim2 {
    26.388888888888893% {opacity: 0}
    28.61111111111111% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@keyframes mim2 {
    26.388888888888893% {opacity: 0}
    28.61111111111111% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
#html_banner .card {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    -moz-animation: card 15s linear forwards 2;
    -o-animation: card 15s linear forwards 2;
    -webkit-animation: card 15s linear forwards 2;
    animation: card 15s linear forwards 2;
}
@-moz-keyframes card {
    30% {opacity: 0}
    33.333333333333336% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@-o-keyframes card {
    30% {opacity: 0}
    33.333333333333336% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@-webkit-keyframes card {
    30% {opacity: 0}
    33.333333333333336% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
@keyframes card {
    30% {opacity: 0}
    33.333333333333336% {opacity: 1}
    50.277777777777786% {opacity: 1}
    52.222222222222214% {opacity: 0}
}
#html_banner .text2 {
    position: absolute;
    top: 201px;
    left: 17px;
    opacity: 0;
    
    -moz-animation: text2 15s linear forwards 2;
    -o-animation: text2 15s linear forwards 2;
    -webkit-animation: text2 15s linear forwards 2;
    animation: text2 15s linear forwards 2;
}
@-moz-keyframes text2 {
    30.833333333333332% {opacity: 0;}
    32.77777777777778% {opacity: 1;}
    50.277777777777786% {opacity: 1;}
    52.222222222222214% {opacity: 0;}
}
@-o-keyframes text2 {
    30.833333333333332% {opacity: 0;}
    32.77777777777778% {opacity: 1;}
    50.277777777777786% {opacity: 1;}
    52.222222222222214% {opacity: 0;}
}
@-webkit-keyframes text2 {
    30.833333333333332% {opacity: 0;}
    32.77777777777778% {opacity: 1;}
    50.277777777777786% {opacity: 1;}
    52.222222222222214% {opacity: 0;}
}
@keyframes text2 {
    30.833333333333332% {opacity: 0;}
    32.77777777777778% {opacity: 1;}
    50.277777777777786% {opacity: 1;}
    52.222222222222214% {opacity: 0;}
}
#html_banner .leaf_green_up {
    position: absolute;
    top: 229px;
    left: 9px;
    overflow: hidden;
    opacity: 0;
    width: 1px;
    -moz-animation: leaf_green_up 15s linear forwards 2;
    -o-animation: leaf_green_up 15s linear forwards 2;
    -webkit-animation: leaf_green_up 15s linear forwards 2;
    animation: leaf_green_up 15s linear forwards 2;
}
@-moz-keyframes leaf_green_up {
    34.722222222222214% {width: 1px; opacity: 1}
    38.888888888888886% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@-o-keyframes leaf_green_up {
    34.722222222222214% {width: 1px; opacity: 1}
    38.888888888888886% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@-webkit-keyframes leaf_green_up {
    34.722222222222214% {width: 1px; opacity: 1}
    38.888888888888886% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@keyframes leaf_green_up {
    34.722222222222214% {width: 1px; opacity: 1}
    38.888888888888886% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
#html_banner .leaf_green_down {
    position: absolute;
    top: 229px;
    right: 38px;
    overflow: hidden;
    opacity: 0;
    width: 1px;
    height: 37px;
    -moz-animation: leaf_green_down 15s linear forwards 2;
    -o-animation: leaf_green_down 15s linear forwards 2;
    -webkit-animation: leaf_green_down 15s linear forwards 2;
    animation: leaf_green_down 15s linear forwards 2;
}
@-moz-keyframes leaf_green_down {
    38.888888888888886% {width: 1px; opacity: 1}
    46% {width: 190px; opacity: 1}
    47% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@-o-keyframes leaf_green_down {
    38.888888888888886% {width: 1px; opacity: 1}
    46% {width: 190px; opacity: 1}
    47% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@-webkit-keyframes leaf_green_down {
    38.888888888888886% {width: 1px; opacity: 1}
    46% {width: 190px; opacity: 1}
    47% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
@keyframes leaf_green_down {
    38.888888888888886% {width: 1px; opacity: 1}
    46% {width: 190px; opacity: 1}
    47% {width: 194px; opacity: 1}
    50.277777777777786% {width: 194px; opacity: 1}
    52.222222222222214% {width: 194px; opacity: 0}
}
#html_banner .leaf_green_down .leaf_green_down_pic {
    position: absolute;
    top: 0;
    left: -15px;
    -moz-animation: movieToright 15s linear forwards 2;
    -o-animation: movieToright 15s linear forwards 2;
    -webkit-animation: movieToright 15s linear forwards 2;
    animation: movieToright 15s linear forwards 2;
}
@-moz-keyframes movieToright {
    from {left: 0;}
    46% {left: -15px;}
    47% {left: 0;}
    55% {left: 0;}
}
@-0-keyframes movieToright {
    from {left: 0;}
    46% {left: -15px;}
    47% {left: 0;}
    55% {left: 0;}
}
@-webkit-keyframes movieToright {
    from {left: 0;}
    46% {left: -15px;}
    47% {left: 0;}
    55% {left: 0;}
}
@keyframes movieToright {
    from {left: 0;}
    46% {left: -15px;}
    47% {left: 0;}
    55% {left: 0;}
}

#html_banner .XXXXXXXXXXX {

}
